<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}

<!--Bloque content, que varia dependiendo el html.-->
{% block content %}
    <header>
        <h2 class="pagSecundarias">AÑADIR NUEVO PRODUCTO</h2>
        <hr>
    </header>

    <!--Formulario para añadir un producto nuevo mediante el metodo post.-->
    <form class="acciones" action="{% url 'anyadirProducto' %}" method="post">
        {% csrf_token %}
        <!--Cargamos los campos del formulario indicados en el metodo get dentro de nuestra vista-->
        <ul class="formularios">
            <li>
                <label for="id_producto">ID_Producto <span class="required">*</span></label>
                {{ form.producto }}
            </li>

            <li>
                <label for="id_nombre">Nombre <span class="required">*</span></label>
                {{ form.nombre }}
            </li>

            <li>
                <label for="id_descripcion">Descripción <span class="required">*</span></label>
                {{ form.descripcion }}
            </li>

            <li>
                <label for="id_precio">Precio <span class="required">*</span></label>
                {{ form.precio }} 
            </li>
            <li>
                <label for="id_categoria">Categoria <span class="required">*</span></label>
                {{ form.categoria }} 
            </li>
        </ul>   

        
        <input type="submit" value="Insertar producto">
    </form>
{% endblock %}