<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}

<!--Bloque content, que varia dependiendo el html.-->
{% block content %}
    <header>
        <h2 class="pagSecundarias">ASIGNAR COMPONENTE-PRODUCTO</h2>
        <hr>
    </header>

    <!--Formulario para asignar un componente ya existente a un producto mediante el metodo post.-->
    <form class="acciones" action="{% url 'anyadirComponenteProducto' %}" method="post">
        {% csrf_token %}
        <!--Cargamos los campos del formulario indicados en el metodo get dentro de nuestra vista-->
        <ul class="formularios">
            <li>
                <label for="id_producto">Producto <span class="required">*</span></label>
                {{ form.producto }}
            </li>
            <li>
                <label for="id_componente">Componente <span class="required">*</span></label>
                {{ form.componente }}
            </li>
        </ul>   
        
        <input type="submit" value="Asignar">
    </form>
{% endblock %}