<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}

<!--Bloque content, que varia dependiendo el html.-->
{% block content %}
    <header>
        <h2 class="pagSecundarias">AÑADIR NUEVO COMPONENTE</h2>
        <hr>
    </header>

    <!--Formulario para añadir un nuevo componente mediante el metodo post.-->
    <form class="acciones" action="{% url 'anyadirComponente' %}" method="post">
        {% csrf_token %}
        <!--Cargamos los campos del formulario indicados en el metodo get dentro de nuestra vista-->
        <ul class="formularios">

            <li>
                <label for="id_componentes">ID_COMPONENTES <span class="required">*</span></label>
                {{ form.componentes }}
            </li>

            <li>
                <label for="id_unidades">Unidades <span class="required">*</span></label>
                {{ form.unidades }} 
            </li>
            <li>
                <label for="id_descripcion">Descripción <span class="required">*</span></label>
                {{ form.descripcion }}
            </li>
        </ul>

        <input type="submit" value="Nuevo componente">
    </form>
{% endblock %}