<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}

<!--Bloque content, que varia dependiendo el html.-->
{% block content %}
    
    <header>
        <h2 class="pagSecundarias">AÑADIR NUEVO CLIENTE</h2>
        <hr>
    </header>

    <!--Formulario para añadir un nuevo cliente mediante el metodo post.-->
    <form class="acciones" action="{% url 'anyadirCliente' %}" method="post">
        {% csrf_token %}
        <!--Cargamos los campos del formulario indicados en el metodo get dentro de nuestra vista-->
        <ul class="formularios">
            <li>
                <label for="id_clientes">ID_CLIENTES <span class="required">*</span></label>
                {{ form.componentes }}
            </li>
            <li>
                <label for="id_DNI">DNI *</span></label>
                {{ form.DNI }}
            </li>
            <li>
                <label for="id_nombre">Nombre <span class="required">*</span></label>
                {{ form.nombre }} 
            </li>
            <label for="id_apellidos">Apellidos <span class="required">*</span></label>
            {{ form.apellidos }} 
            </li>
            <li>
                <label for="id_email">Email *</s></label>
                {{ form.email }} 
            </li>
            <li>
                <label for="id_telefono">Telefono *</span></label>
                {{ form.telefono }} 
            </li>

        </ul>

        <input type="submit" value="Nuevo cliente">
    </form>
{% endblock %}