<!DOCTYPE html> {% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- enlace de archivo CSS-->
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}?{% now 'U' %}">
</head>

<body>
    <header>
        <!--BARRA DE NAVEGACION-->
        <div class="nav-fijado">
            <nav class="menu">
                <img src="{% static 'IMG/DEUSTO.png' %}" alt="Logo" width="150px">
                <ul>
                    <li><a href="{% url 'base' %}">PRINCIPAL</a></li>
                    <li><a href="{% url 'listadoProducto' %}">PRODUCTO</a></li>
                    <li><a href="{% url 'listadoPedido' %}">PEDIDOS</a></li>
                    <li><a href="{% url 'listadoComponente' %}">COMPONENTES</a></li>
                    <li><a href="{% url 'listadoCliente' %}">CLIENTES</a></li>
                    {% if user.is_authenticated %}
                        <li><a href= "">{{user.username}}</a>
                            <ul>
                                <li><a href="{% url 'logout' %}">Log Out</a></li>
                            </ul>
                        </li> 
                    {% else %}
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        {% block tituloPrincipal %}{% endblock %}
    </header>

    <main>
        {% if user.is_authenticated%}
        {% else %}
            <h1>Usted no esta logueado</h1>
        {% endif %}
        <!--Bloque en el que se visualiza la informacion y va variando en funcion al html cargado.-->
        {% block content %}{% endblock %}
    </main>

    <footer class="pie">


        <div id="redes">
            <!--INSTAGRAM link-->
            <a href="https://www.instagram.com/?hl=es" title="Instagram"><img src="{% static 'IMG/instagram.png' %}" alt="Intagram" width="50px" height="50px"></a>
            <!--TWITTER-->
            <a href="https://twitter.com/?lang=es" title="Twitter"><img src="{% static 'IMG/twitter.png' %}" alt="Twitter" width="50px" height="50px"></a>
            <!--FACEBOOK-->
            <a href="https://es-es.facebook.com/" title="Facebook"><img src="{% static 'IMG/facebook.png' %}" alt="Facebook" width="50px" height="50px"></a>
            <!--LINKEDIN-->
            <a href="https://es.linkedin.com/" title="LinkedIn"><img src="{% static 'IMG/linkedin.png' %}" alt="LinkedIn" width="50px" height="50px"></a>
        </div>


    </footer>
</body>


</html>