<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}

<!--Bloque content, que varia dependiendo el html.-->
{% block content %}
    <div class="titulo"> 
        <h2> {{titulo_pagina}} </h2> 
    </div>


    <!-- Lista de los componentes --> 
    {% if lista_clientes %}
        <div class="caja_datos">
            <ul>
                {% for proyectos in lista_cliente %}        
                <li>        
                        <a href="/deustronic/cliente/{{cliente.id}}"> {{cliente.nombre}} </a>
                </li>
                {% endfor %}
            </ul>

    {% else %}
        <p> No hay clientes </p>
    {% endif %}
                </td>
            </tr>
        </table>
    </div>


{% endblock %}