<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}

<!--Bloque content, que varia dependiendo el html.-->
{% block content %}
    <header>
        <h2 class="pagSecundarias">Detalle del cliente: {{detalle_cliente.nombre}}</h2>
        <hr>
    </header>


    <!--Tabla con todos los atributos de un cliente específico-->
    <div class="detalle">
        <table id="texto">
            <tr>
                <th>cif</th>
                <td>{{ detalle_cliente.cif }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ detalle_cliente.nombre }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ detalle_cliente.telefono }}</td>
            </tr>
            <tr>
                <th>Nombre de la empresa</th>
                <td>{{ detalle_cliente.nombreEmpresa }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ detalle_cliente.email }}</td>
            </tr>
            <tr>
                <th>Listado de pedidos</th>
                <td>
                    <!--Comprobamos si existen pedidos asignados al cliente en nuestra BBDD-->
                    {% if detalle_cliente.pedido_set.all %}
                        <ul>
                            <!--Recorremos todos los pedidos asignados y los visualizamos como una lista no ordenada <ul>-->
                            {% for pedidos in detalle_cliente.pedido_set.all %}
                                <li>{{pedidos.fecha}}</li>
                            {% endfor %}
                        </ul>
                    <!--Sacamos un aviso de que no existen pedidos asignados en caso de no encontrarlos-->
                    {% else %}
                        <h4>No se han asignado pedidos para este cliente</h4>
                        {% if perms.appGestionDePedidos.add_pedido %}
                            <p>Para asignar un pedido haga click <a href="{% url 'anyadirPedido' %}">aquí</a></p>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>


{% endblock %}