<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}

<!--Bloque content, que varia dependiendo el html.-->
{% block content %}
    <header>
        <h2 class="pagSecundarias">Detalle del pedido: {{pedido.fecha}}</h2>
        <hr>
    </header>



    <!--Tabla con todos los atributos de un pedido específico-->
    <div class="detalle">
        <table id="texto">
            <tr>
                <th>Fecha del pedido</th>
                <td>{{ pedido.fecha }}</td>
            </tr>
            <tr>
                <th>Precio total</th>
                <td>{{ pedido.precioTotal }}€</td>
            </tr>
            <tr>
                <th>Nombre del cliente</th>
                <td>{{ pedido.cliente }}</td>
            </tr>
            <tr>
                <th>Listado de productos</th>
                <td>
                    <!--Comprobamos si existen productos asignados al pedido en nuestra BBDD-->
                    {% if pedido.producto %}
                        <ul>
                            <!--Recorremos todos los productos asignados y los visualizamos como una lista no ordenada <ul>-->
                            {% for producto in pedido.producto %}
                                <li>{{producto.nombre}} - {{pedido.cantidadproducto}}</li>
                            {% endfor %}
                        </ul>
                    <!--Sacamos un aviso de que no existen productos asignados en caso de no encontrarlos-->
                    {% else %}
                        <h4>No se han asignado productos para este pedido</h4>
                        {% if perms.appGestionDePedidos.add_compone %}
                            <p>Para asignar un producto haga click <a href="{% url 'anyadirPedidoProducto' %}">aquí</a></p>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

{% endblock %}