<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}

<!--Bloque content, que varia dependiendo el html.-->
{% block content %}
    <header>
        <h2 class="pagSecundarias">Detalle del cliente: {{cliente.nombre}}</h2>
        <hr>
    </header>


    <!--Tabla con todos los atributos de un cliente específico-->
    <div class="detalle">
        <table id="texto">
            <tr>
                <th>CIF</th>
                <td>{{ cliente.CIF }}</td>
            </tr>
            <tr>
                <th>Nombre Empresa</th>
                <td>{{ cliente.nombreEmpresa }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ cliente.direccion }}</td>
            </tr>
            <tr>
                <th>Datos de Contacto</th>
                <td>{{ cliente.datosContacto }}</td>
            </tr>
            <tr>
                <th>Listado de pedidos</th>
                <td>
                    <!--Comprobamos si existen pedidos asignados al cliente en nuestra BBDD-->
                    {% if pedidos %}
                        <ul>
                            <!--Recorremos todos los pedidos asignados y los visualizamos como una lista no ordenada <ul>-->
                            {% for pedido in pedidos %}
                                <table id="pedidos">
                                    <tr>
                                        <th>Referencia</th>
                                        <td>{{ pedido.referencia }}</td>
                                    </tr>
                                    <tr>
                                        <th>Fecha</th>
                                        <td>{{ pedido.fecha }}</td>
                                    </tr>
                                </table>
                            {% endfor %}
                        </ul>
                    <!--Sacamos un aviso de que no existen pedidos asignados en caso de no encontrarlos-->
                    {% else %}
                        <h4>No se han asignado pedidos para este cliente</h4>
                        {% if perms.appGestionDePedidos.add_pedido %}
                            <p>Para asignar un pedido haga click <a href="{% url 'anyadirPedido' %}">aquí</a></p>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>


{% endblock %}