<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}

<!--Bloque content, que varia dependiendo el html.-->
{% block content %}
    <header>
        <h2 class="pagSecundarias">Detalle del producto: {{detalle_producto.nombre}}</h2>
        <hr>
    </header>

    <div id="botones">
        <button id="aumentarTamaño">Aumentar Tamaño</button>
        <button id="disminuirTamaño">Disminuir Tamaño</button>
    </div>

    <!--Tabla con todos los atributos de un producto específico-->
    <div class="detalle">
        <table id="texto">
            <tr>
                <th>Nombre</th>
                <td>{{ producto.nombre }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ producto.precio }}€</td>
            </tr>
            <tr>
                <th>Categoría</th>
                <td>{{ producto.categoria }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ producto.descripcion }}</td>
            </tr>
            <tr>
                <th>Listado de componentes</th>
                <td>
                    <!--Comprobamos si existen componentes asignados al producto en nuestra BBDD-->
                    {% if componentes %}
                        <ul>
                            <!--Recorremos todos los componentes asignados y los visualizamos como una lista no ordenada <ul>-->
                            {% for componente in componentes %}
                                <li>{{componente.nombre}}</li>
                            {% endfor %}
                        </ul>
                    <!--Sacamos un aviso de que no existen componentes asignados en caso de no encontrarlos-->
                    {% else %}
                        <h4>No se han asignado componentes para este producto</h4>
                        {% if perms.appGestionDePedidos.add_consta %}
                            <p>Para asignar un componente haga click <a href="{% url 'anyadirComponenteProducto' %}">aquí</a></p>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th></th>
                <td><img alt = "{{ producto.nombre }}" class="image" src="/{{ producto.imagen }}"/></td>
            </tr>
        </table>
    </div>


{% endblock %}