<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}

<!--Bloque content, que varia dependiendo el html.-->
{% block content %}
    <header>
        <h2 class="pagSecundarias">ELIMINAR PRODUCTO: {{ producto.nombre }}</h2>
        <hr>
    </header>

    <div class = "formularios">
        <h3> ¿Estás seguro de que quieres borrar el cliente  {{producto.nombre}}? </h3>
        <form action="{% url 'eliminarProducto' producto.id %}" method="post">
           {% csrf_token %}
            <input type="submit" value="Borrar" class="borrarseguro">
        </form>
    </div>
    
    <!-- Botón para volver a la pagina de empleados -->  
    <form action="{% url 'detalleProducto' %}">
        {% csrf_token %}
        <input type="submit" value="Volver atrás" class="boton_atras"> </input>
    </form>
{% endblock %}