<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}

<!--Contenido de la página donde se visualizarán los datos de contacto-->
{% block content %}
    
<!--Comprobamos que hayan usuarios autenticados-->
        {% if user.is_authenticated %}

        <div id="contacto">

                <p id="intro_contacto">Desde esta sección puedes contactarnos con <br>cualquier duda o sugerencia:</p>
                <form action="" id="contactarEmail" method="POST">
    
                    {% csrf_token %}
    
                    <p class="campo_correo">Nombre completo:</p>
                    <input type="text" name="nombre">
                    <p class="campo_correo">Direccion email:</p>
                    <input type="text" name='email' placeholder="ejemplo@gmail.com">
                    <p class="campo_correo">Asunto:</p>
                    <input type="text" name="asunto">
                    <p class="campo_correo">Escribe aquí tus dudas/sugerencias:</p>
                    <textarea name="mensaje" cols="30" rows="10"></textarea></br></br></br>
                    <input type="submit" id="enviar_correo" value="ENVIAR">
    
                </form>
                
        </div>

        {% endif %}

{% endblock %}

