<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="lista">

    <h1>LISTADO DE PRODUCTOS</h1>

</div>

<div class="contenido_listas">

    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>PRECIO</th>
            <th>CATEGORIA</th>
            <th>DESCRIPCIÓN</th>
            <th>MODIFICACIONES</th>
           
        </tr>
    </thead>
    <tbody>

        <ul>
            <!--Recorremos todos los productos existentes y los visualizamos como una lista no ordenada <ul>-->
            {% for producto in productos %}
                <li>
                    <span>{{producto.pk}}</span>{{producto.nombre}}
                    <!--Solo se podrá visualizar si se tiene acceso-->
                    {% if perms.appGestionDePedidos.view_producto %}
                        <a class="detalles" href="http://127.0.0.1:8000/deustronic/detalleProducto/{{producto.pk}}/">detalles</a>
                    {% endif %}  
                    <!--Solo se podrá visualizar si se tiene acceso-->
                    {% if perms.appGestionDePedidos.delete_producto %}
                        <a class="eliminar" href="http://127.0.0.1:8000/deustronic/eliminarProducto/{{producto.pk}}/">eliminar</a>
                    {% endif %} 
                    <!--Solo se podrá visualizar si se tiene acceso-->
                    {% if perms.appGestionDePedidos.change_producto %}
                        <a class="modificar" href="http://127.0.0.1:8000/deustronic/modificarProducto/{{producto.pk}}/">modificar</a>
                    {% endif %} 
                </li>
            {% endfor %}
        </ul>

    </tbody>
    



</div>



{% endblock %}