<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}



<!--Contenido de la página donde se visualizarán todos los listados-->
{% block content %}
    
    <header>
    <!--Comprobamos que hayan usuarios autenticados-->
        {% if user.is_authenticated %}
        <!--Primer articulo donde se visualizara el listado de componentes.-->
        <article class="listados" id="listadosIzq">
            <header>
                <div class="listadostitulo">
                        <h3>LISTADO DE COMPONENTES</h3>
                            {% if perms.appGestionDePedidos.add_componente %}
                              <a class="añadir" href="{% url 'anyadirComponente' %}">+</a>
                            {% endif %}
                </div> 
    </header>
            
            <div class="listadosContenido">
                <div class="busqueda">
                
                    <!--Comprobamos si existen componentes en nuestra BBDD-->
                    {% if componentes %}
                        <ul>
                            <!--Recorremos todos los componentes existentes y los visualizamos como una lista no ordenada <ul>-->
                            {% for componente in componentes %}
                                <li>
                                    <span>{{componente.pk}}</span>{{componente.nombre}}
                                    <!--Solo se podrá visualizar si se tiene acceso-->
                                    {% if perms.appGestionDePedidos.view_componente %}
                                        <a class="detalles" href="http://127.0.0.1:8000/deustronic/detalleComponente/{{componente.pk}}">detalles</a>
                                    {% endif %}
                                    <!--Solo se podrá visualizar si se tiene acceso-->
                                    {% if perms.appGestionDePedidos.delete_componente %}
                                        <a class="eliminar" href="http://127.0.0.1:8000/deustronic/eliminarComponente/{{componente.pk}}">eliminar</a>
                                    {% endif %}
                                    <!--Solo se podrá visualizar si se tiene acceso-->
                                    {% if perms.appGestionDePedidos.change_componente %}
                                        <a class="modificar" href="http://127.0.0.1:8000/deustronic/modificarComponente/{{componente.pk}}">modificar</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    <!--Sacamos un aviso de que no existen componentes en caso de no encontrarlos-->
                    {% else %}
                        <h4>No existen componentes en Deustronic Components S.L.</h4>
                        {% if perms.appGestionDePedidos.add_componente %}
                            <p>Para añadir un componente haga click <a class="añadir" href="{% url 'anyadirComponente' %}">aquí</a></p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </article>

        {% endif %}
{% endblock %}

