{% extends "base.html" %}

    {% block title %} {{componentes.nombre}} {% endblock %}
    {% block contenido %}
    <div class="titulo"> 
        <h2> {{componentes.apellidos}}, {{componentes.nombre}} </h2>
     </div>
    
    <!-- Caja donde se muestran los datos del cliente -->
    <div class="caja_datos">
        <p> <span class="datos"> ID_componentes: </span> {{componentes.id}} </p>
        <p> <span class="datos"> UNIDADES: </span> {{componentes.unidades}} </p>
        <p> <span class="datos"> DESCRIPCION: </span> {{componentes.descripcion}} </span></p>
    </div>
    <!-- lista de proyectos
    <div class="caja_datos">
    <h3>Proyectos en los que trabaja: </h3> 
    <p>Debugging 1</p>
    {% if componentes.proyecto_set %}
    <p>Debugging 2</p> 
            <ol>
                {% for proyectos in componentes.proyecto_set.all %}
                
                <li> <a href="/myapp3/proyectos/{{proyectos.id}}"> {{proyectos.nombre}} </a> </li>
                {% endfor %}
            </ol>

        {% else %}
        <p> No hay proyectos en los que trabaje </p>

        {% endif %}
    
    </div>
    -->
    <!-- Botón de borrar cliente -->
    <form  action="{% url 'eliminarComponentes' componentes.id %}"> <!--/myapp3/borrarEmpleado/{{empleado.id}} -->
        <input type="submit" value="Eliminar componentes" class="borrar">
    </form>
    <!-- Botón de editar cliente -->
    <form  action="{% url 'editarComponentes' componentes.id %}">
        <input type="submit" value="Editar" class="editar">
    </form>
    {% endblock %}