<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %} 
{% load static %}

<!--Bloque content, que varia dependiendo el html.-->
{% block content %}
    <header>
        <h2 class="pagSecundarias">MODIFICAR PEDIDO: {{ pedido.fecha }}</h2>
        <hr>
    </header>

    <!--Formulario para modificar un pedido existente mediante el metodo post.-->
    <form class="acciones" method="POST" id="modificarPedido" action=".">
        {% csrf_token %}
        <!--Cargamos los campos del formulario desde UpdateView, los cuales deben estar rellenados-->
        <ul class="formularios">
            <li>
                <label for="id_cantidadProducto">Cantidad Producto<span class="required">*</span></label>
                {{ form.cantidadproducto }} 
            </li>
            <li>
                <label for="id_precioTotal">Precio Total<span class="required">*</span></label>
                {{ form.precioTotal }} 
            </li>
            <button class= "boton_env_any"  value= "submit" type="submit" form="modificarPedido" value="Update">Guardar</button>
        </ul>
    </form>
{% endblock %}