{% extends "base.html" %}

    {% block title %} {{producto.nombre}} {% endblock %}
    {% block contenido %}
    <div class="titulo"> 
        <h2>  {{producto.nombre}} </h2>
     </div>
    
    <!-- Caja donde se muestran los datos del producto -->
    <div class="caja_datos">
        <p> <span class="datos"> ID_producto: </span> {{producto.id}} </p>
        <p> <span class="datos"> NOMBRE: </span> {{producto.fecha}} </p>
        <p> <span class="datos"> DESCRIPCION: </span> {{producto.descripcion}} </span></p>
        <p> <span class="datos"> CATEGORIA: </span> {{producto.descripcion}} </span></p>
        <p> <span class="datos"> PRECIO: </span> {{producto.descripcion}} </span></p>

    </div>
    <!-- lista de proyectos
    <div class="caja_datos">
    <h3>Proyectos en los que trabaja: </h3> 
    <p>Debugging 1</p>
    {% if componentes.proyecto_set %}
    <p>Debugging 2</p> 
            <ol>
                {% for proyectos in componentes.proyecto_set.all %}
                
                <li> <a href="/myapp3/proyectos/{{proyectos.id}}"> {{proyectos.nombre}} </a> </li>
                {% endfor %}
            </ol>

        {% else %}
        <p> No hay proyectos en los que trabaje </p>

        {% endif %}
    
    </div>
    -->
    <!-- Botón de borrar producto -->
    <form  action="{% url 'eliminarProducto' producto.id %}"> <!--/myapp3/borrarEmpleado/{{empleado.id}} -->
        <input type="submit" value="Eliminar producto" class="borrar">
    </form>
    <!-- Botón de editar producto -->
    <form  action="{% url 'editarProducto' producto.id %}">
        <input type="submit" value="Editar" class="editar">
    </form>
    {% endblock %}