<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}

<!--Portada con título, empresa y logo para la página principal-->
{% block tituloPrincipal %}
    <div id="cabecera-pag-princ">
        <div id="titulo">
            <h1>PRODUCTOS ELECTRÓNICOS</h1>
            <h2>Deustronic Components S.L.</h2>
            <img src="{% static 'IMG/deusto-logo-azul.png' %}" alt="Logo" width="150px" height="150px">
        </div>
    </div>
{% endblock %}

<!--Contenido de la página donde se visualizarán todos los listados-->
{% block content %}
    
    <header>
        <h2>LISTADOS GENERALES</h2>
    </header>
    
    <!--Comprobamos que hayan usuarios autenticados-->
    {% if user.is_authenticated %}
        <!--Primer articulo donde se visualizara el listado de productos.-->
        <article class="listados" id="listadosIzq">
            <header>
                <h3><span>1</span>LISTADO DE PRODUCTOS</h3>
            </header>

            <div class="listadosContenido">
                <div class="busqueda">
                    <form class="busqueda" id="formularioBusqueda" method="post" action="buscarProducto/">
                        {% csrf_token %}
                        <input class="input" type="text" name="lupa" class="search-query" placeholder="Buscar nombre del producto">
                        <button class="boton" type="submit"><img src="{% static 'IMG/lupa.png' %}" alt="Lupa"></button>
                        
                    </form>
                </div>

                <!--Comprobamos si existen productos en nuestra BBDD-->
                {% if productos %}
                    <ul>
                        <!--Recorremos todos los productos existentes y los visualizamos como una lista no ordenada <ul>-->
                        {% for producto in productos %}
                            <li>
                                <span>{{producto.pk}}</span>{{producto.nombre}}
                                <!--Solo se podrá visualizar si se tiene acceso-->
                                {% if perms.appGestionDePedidos.view_producto %}
                                    <a class="detalles" href="http://127.0.0.1:8000/deustronic/detalleProducto/{{producto.pk}}/">detalles</a>
                                {% endif %}  
                                <!--Solo se podrá visualizar si se tiene acceso-->
                                {% if perms.appGestionDePedidos.delete_producto %}
                                    <a class="eliminar" href="http://127.0.0.1:8000/deustronic/eliminarProducto/{{producto.pk}}/">eliminar</a>
                                {% endif %} 
                                <!--Solo se podrá visualizar si se tiene acceso-->
                                {% if perms.appGestionDePedidos.change_producto %}
                                    <a class="modificar" href="http://127.0.0.1:8000/deustronic/modificarProducto/{{producto.pk}}/">modificar</a>
                                {% endif %} 
                            </li>
                        {% endfor %}
                    </ul>

                <!--Sacamos un aviso de que no existen productos en caso de no encontrarlos-->
                {% else %}
                    <h4>No existen productos en Deustronic Components S.L.</h4>
                    {% if perms.appGestionDePedidos.add_producto %}
                        <p>Para añadir un producto haga click <a class="añadir" href="{% url 'anyadirProducto' %}">aquí</a></p>
                    {% endif %}
                {% endif %}
            </div>
        </article>

        <!--Segundo articulo donde se visualizara el listado de pedidos.-->
        <article class="listados" id="listadosDcha">
            <header>
                <h3><span>2</span>LISTADO DE PEDIDOS</h3>
            </header>
            
            <div class="listadosContenido">
                <div class="busqueda">
                    <form class="busqueda" id="formularioBusqueda" method="post" action="buscarPedido/">
                        {% csrf_token %}
                        <input class="input" type="text" name="lupa" class="search-query" placeholder="Buscar fecha del pedido">
                        <button class="boton" type="submit"><img src="{% static 'IMG/lupa.png' %}" alt="Lupa"></button>
                    </form>
                </div>
                <!--Comprobamos si existen pedidos en nuestra BBDD-->
                {% if pedidos %}
                    <ul>
                        <!--Recorremos todos los pedidos existentes y los visualizamos como una lista no ordenada <ul>-->
                        {% for pedido in pedidos %}
                            <li>
                                <span>{{pedido.pk}}</span>{{pedido.fecha}}
                                <!--Solo se podrá visualizar si se tiene acceso-->
                                {% if perms.appGestionDePedidos.view_pedido %}
                                    <a class="detalles" href="http://127.0.0.1:8000/deustronic/detallePedido/{{pedido.pk}}/">detalles</a>
                                {% endif %}
                                <!--Solo se podrá visualizar si se tiene acceso-->
                                {% if perms.appGestionDePedidos.delete_pedido %}
                                    <a class="eliminar" href="http://127.0.0.1:8000/deustronic/eliminarPedido/{{pedido.pk}}/">eliminar</a>
                                {% endif %}
                                <!--Solo se podrá visualizar si se tiene acceso-->
                                {% if perms.appGestionDePedidos.change_pedido %}
                                    <a class="modificar" href="http://127.0.0.1:8000/deustronic/modificarPedido/{{pedido.pk}}">modificar</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                <!--Sacamos un aviso de que no existen pedidos en caso de no encontrarlos-->
                {% else %}
                    <h4>No existen pedidos en Deustronic Components S.L.</h4>
                    {% if perms.appGestionDePedidos.add_pedido %}
                        <p>Para añadir un pedido haga click <a class="añadir" href="{% url 'anyadirPedido' %}">aquí</a></p>
                    {% endif %}
                {% endif %}
            </div>
        </article>

        <!--Tercer articulo donde se visualizara el listado de clientes.-->
        <article class="listados" id="listadosIzq">
            <header>
                <h3><span>3</span>LISTADO DE CLIENTES</h3>
            </header>

            <div class="listadosContenido">
                <div class="busqueda">
                    <form class="busqueda" id="formularioBusqueda" method="post" action="buscarCliente/">
                        {% csrf_token %}
                        <input class="input" type="text" name="lupa" class="search-query" placeholder="Buscar nombre del cliente">
                        <button class="boton" type="submit"><img src="{% static 'IMG/lupa.png' %}" alt="Lupa"></button>
                    </form>
                </div>
                <!--Comprobamos si existen clientes en nuestra BBDD-->
                {% if clientes %}
                    <ul>
                        <!--Recorremos todos los clientes existentes y los visualizamos como una lista no ordenada <ul>-->
                        {% for cliente in clientes %}
                            <li>
                                <span>{{cliente.pk}}</span>{{cliente.nombreEmpresa}}
                                <!--Solo se podrá visualizar si se tiene acceso-->
                                {% if perms.appGestionDePedidos.view_cliente %}
                                    <a class="detalles" href="http://127.0.0.1:8000/deustronic/detalleCliente/{{cliente.pk}}/">detalles</a>
                                {% endif %}
                                <!--Solo se podrá visualizar si se tiene acceso-->
                                {% if perms.appGestionDePedidos.delete_cliente %}
                                    <a class="eliminar" href="http://127.0.0.1:8000/deustronic/eliminarCliente/{{cliente.pk}}/">eliminar</a>
                                {% endif %}
                                <!--Solo se podrá visualizar si se tiene acceso-->
                                {% if perms.appGestionDePedidos.change_cliente %}
                                    <a class="modificar" href="http://127.0.0.1:8000/deustronic/modificarCliente/{{cliente.pk}}">modificar</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                <!--Sacamos un aviso de que no existen clientes en caso de no encontrarlos-->
                {% else %}
                    <h4>No existen clientes en Deustronic Components S.L.</h4>
                    
                    {% if perms.appGestionDePedidos.add_cliente %}
                        <p>Para añadir un cliente haga click <a class="añadir" href="{% url 'anyadirCliente' %}">aquí</a></p>
                    {% endif %}
                {% endif %}
            </div>
        </article>

        <!--Cuarto y ultimo articulo donde se visualizara el listado de componentes-->
        <article class="listados" id="listadosDcha">
            <header>
                <h3><span>4</span>LISTADO DE COMPONENTES</h3>
            </header>
            
            <div class="listadosContenido">
                <div class="busqueda">
                    <form class="busqueda" method="post" action="buscarComponente/">
                        {% csrf_token %}
                        <input class="input" type="text" name="lupa" class="search-query" placeholder="Buscar nombre del componente">
                        <button class="boton" type="submit"><img src="{% static 'IMG/lupa.png' %}" alt="Lupa"></button>
                    </form>
                </div>
                <!--Comprobamos si existen componentes en nuestra BBDD-->
                {% if componentes %}
                    <ul>
                        <!--Recorremos todos los componentes existentes y los visualizamos como una lista no ordenada <ul>-->
                        {% for componente in componentes %}
                            <li>
                                <span>{{componente.pk}}</span>{{componente.nombre}}
                                <!--Solo se podrá visualizar si se tiene acceso-->
                                {% if perms.appGestionDePedidos.view_componente %}
                                    <a class="detalles" href="http://127.0.0.1:8000/deustronic/detalleComponente/{{componente.pk}}">detalles</a>
                                {% endif %}
                                <!--Solo se podrá visualizar si se tiene acceso-->
                                {% if perms.appGestionDePedidos.delete_componente %}
                                    <a class="eliminar" href="http://127.0.0.1:8000/deustronic/eliminarComponente/{{componente.pk}}">eliminar</a>
                                {% endif %}
                                <!--Solo se podrá visualizar si se tiene acceso-->
                                {% if perms.appGestionDePedidos.change_componente %}
                                    <a class="modificar" href="http://127.0.0.1:8000/deustronic/modificarComponente/{{componente.pk}}">modificar</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                <!--Sacamos un aviso de que no existen componentes en caso de no encontrarlos-->
                {% else %}
                    <h4>No existen componentes en Deustronic Components S.L.</h4>
                    {% if perms.appGestionDePedidos.add_componente %}
                        <p>Para añadir un componente haga click <a class="añadir" href="{% url 'anyadirComponente' %}">aquí</a></p>
                    {% endif %}
                {% endif %}
            </div>
        </article>
    {% else %}

    {% endif %}
{% endblock %}



