#bajarLetraBtn {
    padding-left: 12px;
    padding-right: 12px;
}

#subirLetraBtn {
    padding-left: 10px;
    padding-right: 10px;
}

.selectorSettings {
    width: 30%;
}

:root {
    --font-size: 1;
  }
  
  body {
    font-size: calc(var(--font-size) * 1em);
  }
  
  .font-controls {
    position: absolute;
    top: .5em;
    right: .5em;
    display: flex;
    font-size: 1.5em;
  }
  
  .font-control {
    width: 40px;
    margin-left: .5em;
    padding: 10px, 10px, 10px, 10px;
    border: 1px solid #000;
    cursor: pointer;
  }
