@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

/*MENÚ NAVEGACIÓN --> IGUAL PARA TODOS*/
.nav-fijado{
    width: 100%;
    position: fixed;
    border-bottom: 2px solid rgb(241, 241, 241);
    background-color: rgb(23, 89, 175);
}

.menu{
    margin-left: auto;
    margin-right: auto;
    font-family: "calibri";
    width: 100%;
}
.menu li{
    display: inline-block;
}

.menu img{
    float: left;
    padding-top: 0px;
    padding-left: 15px;
    padding-bottom: 0px;
}

.menu ul {
    margin: auto;
    list-style: none;
    padding-right: 20px;
    float: right;
}

.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);  
    font-size: 15px;
    display: table-cell;
    vertical-align: middle;
    padding-top: 28px;
    padding-right: 13px;
    transition: color 0.6s;

}


.menu > li{
    float: right;
}

.menu li a:hover{
    color: gainsboro;
}

.menu ul li ul {
    /*Organizacion de lista anidada en login*/
    position: absolute;
    visibility: hidden;
}

.menu ul li ul li {
    /*Organizacion*/
    display: flex;
    padding-left: 8px;
    padding-bottom: 5px;
    min-width: 100px;
    /*Estetica*/
    background-color:  rgb(106, 108, 109);;  
}

/*Condicion para que se haga visible la lista anidada*/
.menu ul li:hover > ul {
    /*Hace visble la lista anidada cuando se pone encima el cursor*/
    visibility: visible; 
}

/*PIE DE PÁGINA --> IGUAL PARA TODOS*/
.pie{ /* footer */

    background-color: rgba(38, 45, 52, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    height: 90px;
    position:static;

}

.pie #redes {
    display: block;
    margin: 0px auto;
    text-align: center;
}

.pie img{
    margin-top: 10px;
    margin-left: 15px;
}

/*ELEMENTOS COMUNES PARA TODAS LAS PÁGINAS --> IGUAL PARA TODOS*/
body {
    height: 100%;
    background-color: rgb(241, 241, 241);
}

main{
    min-height: 521px;
    height: 100%;
    padding: 13px;
}

main h2{
    padding: 22px;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
}

/*TÍTULO (H2) Y LÍNEA (HR) DE LAS PÁGINAS SECUNDARIAS*/
.pagSecundarias{
        padding-top: 100px;
}

hr{
    margin: auto;
    margin-top: -15px;
    height: 5px;
    width: 99%;
    background-color: black;
}


/* PÁG. PRINCIPAL*/
/*CABECERA DE LA PAGINA PRINCIPAL*/
#cabecera-pag-princ{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 350px;
    background-image: url(../IMG/imagen-fondo.jpg);
    background-size: contain;
    width: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;   
}

#cabecera-pag-princ #titulo{ 
    text-align: center;
    padding-top: 110px;
    padding-bottom: 0px;
}

#cabecera-pag-princ h1{
    font-family: "montserrat", Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 300px;
    color: white;
}

#cabecera-pag-princ h2{
    font-family: "poppins", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    padding-bottom: 15px;
}

#titulo_inicial { /* nueva */
    font-size: 2em;
}

.titular{ /* nueva */
    font-family: "montserrat", Arial, Helvetica, sans-serif;
    font-size: 2em;
}

#container_parrafo { /* nueva */
    font-family: "poppins", Arial, Helvetica, sans-serif;
    margin-top: 15px;
    text-align: justify;
    font-size: 1.25em;
}

#amp_info { /* nueva */
    font-family: "poppins", Arial, Helvetica, sans-serif;
    margin-top: 15px;
    text-align: justify;
    font-size: 1.25em;
}

#ampliar_boton {
    font-family: "poppins", Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(1, 27, 119);
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: background-color 1s;
}

#introduccion { /* nueva */
    margin-bottom: 30px;
}

.cuadrado { /* nueva */  
    display: inline-flex;
    margin-right: 30px;
    margin-left: 40px;
    margin-top: 30px;
}

#bloque_final {  /* nueva */
    margin-top: 30px;
}

#contacto { /* para el apartado de correo electronico */
    font-size: 1.2em;
    margin-top: 90px;
    margin-bottom: 30px;
    margin-left: 370px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#enviar_correo {  /* para el apartado de correo electronico */
    font-size: 15px;
    padding: 4px;
    background-color: #7db7f46e;
    border: black solid 2px;
    border-radius: 2px;
    font-weight: bold;
}

#enviar_correo:hover{
    background-color: #3c71aa;
    transition: background-color 0.5s;
}

#intro_contacto{  /* para el apartado de correo electronico */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: left;
}

.campo_correo { /* para el apartado de correo electronico */ 
    margin-left: 0px;
    text-align: inherit;
    color:darkblue;
}





/*LISTADOS DE TODAS LAS PAGINAS*/

.listadostitulo{
    margin-top: 80px;
}
.listados header{
    padding: 30px;
    float: left;
    font-family: "montserrat";
    font-size: 25px;
    color: #6a9eda;
}

.listadosContenido ul{
    height: 250px;
    overflow:hidden; 
    padding-top: 70px;
}



.listadosContenido {
    height: 300px;
    margin-bottom: 15px;
    padding: 80px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.listadosContenido ul li {
    width: 100%;
    list-style: none;
    padding: 15px;
}

.listadosContenido ul li:hover{
    background-color: rgba(0, 0, 0, .65);
    transition: background-color 0.5s;
    color: gainsboro;
}

.listadosContenido ul li span{
    background-color: #999c9fec;
    color: rgb(252, 252, 252);
    display: inline-block;
    text-align: center;
    width: auto;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    margin-right: 15px;
    margin-left: 10px;
}

.listadosContenido a {
    text-decoration: none;
    color: black;
}

.añadir1:hover{
    color: rgb(255, 120, 120);
    transition: color 0.4s;
}


/*BOTON DE ELIMINAR EN LISTADOS*/
.eliminar{
    font-size: 15px;
    float: right;
    margin-right: 15px;
    padding: 3px;
    background-color: #d1052a;
    border: black solid 2px;
    border-radius: 5px;
    font-weight: bold;
}

.eliminar:hover{
    background-color: #ff6565;
    transition: background-color 0.5s;
}

/*BOTON DE MEODIFICAR EN LISTADOS*/
.modificar{
    color: white;
    font-size: 15px;
    float: right;
    margin-right: 15px;
    padding: 3px;
    background-color: #5086c1;
    border: black solid 2px;
    border-radius: 5px;
    font-weight: bold;
}

.modificar:hover{
    background-color: #6a9eda;
    transition: background-color 0.5s;
}

/*BOTON DE DETALLES EN LISTADOS*/
.detalles{
    color: white;
    font-size: 15px;
    float: right;
    margin-right: 15px;
    padding: 3px;
    background-color: #42ab49;
    border: black solid 2px;
    border-radius: 5px;
    font-weight: bold;
}

.detalles:hover{
    background-color: #5dc460;
    transition: background-color 0.5s;
}

/*BOTON DE añadir EN LISTADOS*/
.añadir{
    float: left;
    margin-right: 15px;
    padding: 3px;
    font-weight: bold;
    font-size: 55px;
    text-decoration: none;
    color: #fb0d05;
}

#header h1 { display:inline; }


/*POSICION DE LOS LISTADOS*/


/*FORMATO DE LA VISUALIZACION DE DETALLE*/

#botones{
    margin-left: 25px;
    margin-bottom: 10px;
}

/*BOTON AUMENTAR Y BAJAR TAMAÑO*/

#botones button{
    padding: 6px;
    border-radius: 10px;
    background-color: rgb(56, 86, 194);
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: background-color 1s;
}

#botones button:hover{
    cursor: pointer;
    background-color: rgb(85, 84, 84);
}

/*FORMATO DE LA TABLA DE LOS DETALLES*/

.detalle{
    padding: 30px;
    padding-top: 10px;
    width: 55%;
    margin: auto;
}
.detalle table{
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(244, 244, 244);
    width: 100%;
    text-align: left;
    background-color: rgba(0, 65, 114, 0.529);
}

.detalle tr{
    transition: background-color 0.5s;
}

.detalle tr:hover{
    background-color: rgba(159, 159, 159, 0.8);
    transition: background-color 2s;
}

.detalle th, td{
    padding: 30px;
}

.detalle p a{
    font-weight: 1000;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.4s;
}

.detalle a:hover{
    color: rgb(178, 255, 150);
}

/*FORMATO DE LA VISUALIZACION DE LOS FORMULARIOS*/
.acciones{
    padding: 15px;
    width: 700px;
    margin: auto;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.559);
    color: rgb(251, 251, 251);
    font-family: "calibri", Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
}

.formularios{
    padding-left: 82px;
}

.formularios li{
    list-style: none;
    padding: 10px;
    display: block;
}

.formularios label{
	padding-bottom:10px;
	display:block;
	font-weight: bold;
    margin: auto;
}

input[type=text], 
.formularios input[type=date],
.formularios input[type=email],
.formularios input[type=password],
.formularios input[type=number],

textarea, 
select{
    width: 500px;
	padding: 7px;
}

textarea{
    resize:none;
    overflow: scroll;
}




form p{
    width: auto;
    text-align: left;
    padding: 10px;
    margin-left: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

form button{
    margin-top: 30px;
    width: auto;
    color: white;
    text-align: left;
    padding: 15px;
    margin-left: 80px;
    font-size: 15px;
    background-color: #0000006e;
    font-weight: bold;
}


form button:hover{
    background-color: #000000;
    transition: background-color 0.5s;
}



.formularios .required{
    color: rgb(231, 65, 65);
    float: right;
    padding-right: 100px;
}

/*FORMULARIO BUSQUEDA*/
.busqueda {
    text-align: left;
    padding-top: 100px;

}


/* LISTADO OBJETOS */

#lista{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.titulolog{
    padding-top: 130px;
}

.boton_env_any{
    font-size: 15px;
    padding: 4px;
    background-color: #999c9fec;
    border: black solid 2px;
    border-radius: 2px;
    font-weight: bold;
}

.boton_env_any:hover{
    background-color: #ffffff;
    transition: background-color 0.5s;
}

.boton_env_el{
    font-size: 15px;
    padding: 4px;
    background-color: #f45151ec;
    border: black solid 2px;
    border-radius: 2px;
    font-weight: bold;
}

.boton_env_el:hover{
    background-color: #ffffff;
    transition: background-color 0.5s;
}